mixin queryUserGroup(name, label)
  .col-md-3.form-horizontal
    .form-group
      label.col-md-4.control-label(for=name)= label
      .col-md-8: block
form.row(name='queryUserForm', ng-submit="alert('查询');", novalidate, autocomplete='off')
  +queryUserGroup('name', '用户名')
    input.form-control(type="text", placeholder="用户名")
  +queryUserGroup('email', 'Email')
    input.form-control(name="email", type="email", placeholder="Email", ng-model='queryUser.email')
  +queryUserGroup('age', '年龄')
    input.form-control(type="number", name='age', ng-model='queryUser.age', min='18', max='100', placeholder="年龄")
  +queryUserGroup('country', '国家')
    input.form-control(type="text", placeholder="国家")
  +queryUserGroup('account', '账号')
    input.form-control(type="text", placeholder="账号")
  .col-md-3.form-horizontal
    .form-group
      .col-md-7.text-right
        input.btn.btn-primary(type='submit', ng-disabled='queryUserForm.$invalid' value="查询")
        |&nbsp;&nbsp;
        input.btn.btn-default(type='reset', value="重置")
