extends _layout.jade
block title
  title 用户查询
append scripts
  script(type='text/javascript', src='/javascript/tools/form-validate-ext.js')
  script(type='text/javascript', src='/javascript/ctrls/user-ctrl.js')
block content
  div.container(ng-app='User', ng-controller='UserViewController')
    user-find-form
    user-list