extends _layout
append scripts
  script(type='text/javascript', src='/javascript/tools/form-validate-ext.js')
  script(type='text/javascript', src='/javascript/ctrls/user-ctrl.js')

append style

block content
  .container(ng-app='User')
    div(ng-controller='UserController as userCtrl').user-form-wrapper
      div: user-list
      - var list = [1,2,3,4];
        each i in list
          span= i
      user-form-add
