extends _layout
prepend scripts
  +setNgApp('User')
append scripts
  script(type='text/javascript', src='/javascript/tools/form-validate-ext.js')
  script(type='text/javascript', src='/javascript/ctrls/user-ctrl.js')

append style

block content
  .container
    div(ng-controller='UserController as userCtrl')
      - var list = [1,2,3,4];
        .row
          each i in list
            span= i
      .row
        .col-sm-12.col-md-6
          user-form-add
        .col-sm-12.col-md-6
          user-form-add-horizontal
      div.row: user-list